html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  
  *,
  *::after,
  *::before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit; }
  
  body {
    background-color: #ffffff;
    font-size: 17px;
    color: #000000;
    font-family: "OpenSans", "Arial", sans-serif;
    margin: 0; }
  
  img {
    max-width: 100%;
    height: auto; }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; }
  
  @font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }
  
  @font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

    .wr-multilink {
        background-image: url("../img/bg11.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: top center;
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
    }

    .multilink {
        margin: 0 auto;
        padding: 0;
        max-width: 80%;
        padding-top: 70%;
        padding-bottom: 36%;
        list-style: none;
        /* max-width: 1080px; */
    }

    .multilink a {
        display: block;
        text-decoration: none;
        text-align: center;
        color: #000000;
        padding: 10px 0;
        letter-spacing: 0.05em;
    }

    .multilink li {
        margin-bottom: 30px;
        border-radius: 3px;
    }

    .multilink .insta {
        background: rgba(365, 365, 365, .7);
        border: 1px solid #c0af9f;
        margin-bottom: 45px;
    }

    .insta a {
        color: #5d5045;
    }

    .multilink .wa {
        background-color: rgba(44, 197, 78, .7);
        border: 1px solid #1a772f;
    }

    .multilink .tg {
        background-color: rgba(48, 168, 228, .7);
        border: 1px solid #144d69;
    }

    .multilink .free {
        background-color: rgba(255, 126, 126, 0.7);
        border: 1px solid #873737;
    }

    .multilink .site {
        background-color: rgba(221, 178, 125, 0.7);
        border: 1px solid #8e6f48;
    }

    @media (min-width: 768px) {
        .wr-multilink {
          font-size: 32px;  
          /* padding-bottom: 70%; */
        }

        .multilink {
            padding-bottom: 60%;
        }

        .multilink a {
            padding: 20px 0;
        }

        .multilink li {
            margin-bottom: 50px;
        }

        .multilink .insta {
            margin-bottom: 65px;
        }
    }