html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  
  *,
  *::after,
  *::before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit; }
  
  body {
    background-color: #ffffff;
    font-size: 17px;
    color: #000000;
    font-family: "OpenSans", "Arial", sans-serif;
    margin: 0; }
  
  img {
    max-width: 100%;
    height: auto; }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; }
  
  @font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }
  
  @font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

    .wr-multilink {
        background-image: url("../img/bg11.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: top center;
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
    }

    .multilink {
        margin: 0 auto;
        max-width: 80%;
        padding-top: 70%;
        padding-bottom: 36%;
        /* max-width: 1080px; */
    }

    .multilink a {
        display: block;
        text-decoration: none;
        text-align: center;
        color: #000000;
        padding: 10px 0;
        letter-spacing: 0.05em;
    }

    .multilink li {
        margin-bottom: 30px;
        border-radius: 3px;
    }

    .multilink .insta {
        background: rgba(365, 365, 365, .7);
        border: 1px solid #c0af9f;
        margin-bottom: 45px;
    }

    .insta a {
        color: #5d5045;
    }

    .multilink .wa {
        background-color: rgba(44, 197, 78, .7);
        border: 1px solid #1a772f;
    }

    .multilink .tg {
        background-color: rgba(48, 168, 228, .7);
        border: 1px solid #144d69;
    }

    .multilink .free {
        background-color: rgba(255, 126, 126, 0.7);
        border: 1px solid #873737;
    }

    .multilink .site {
        background-color: rgba(221, 178, 125, 0.7);
        border: 1px solid #8e6f48;
    }

    /* --- */

    .about-me {
        padding: 0 30px;
        text-align: center;
        font-size: 18px;
    }

    .free {
        padding: 0 30px;
    }

    .services {
        padding: 0 30px;
    }

    .free__list li {
        position: relative;
        text-align: center;
        margin-bottom: 70px;
    }

    .services__list li {
        position: relative;
        text-align: center;
        margin-bottom: 70px;
    }

    .free h2, .services h2 {
        font-style: 24px;
    }

    .free h3, .services h3 {
        font-size: 34px;
    text-align: center;
    color: #866f67;
    }

    .btn {
        display: block;
    background-color: #c7b3ab;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #4c3a34;
    padding: 8px 4px;
    width: 154px;
    position: absolute;
    bottom: -12px;
    /* font-weight: 700; */
    left: calc(50% - 77px);
    border-radius: 3px;
    letter-spacing: .05em;
    text-decoration: none;
    font-size: 18px;
    }

    .about-me {
        margin-top: 40px;
    }

    .about-me h1 {
        position: relative;
        margin-bottom: 32px;
        font-size: 24px;
    }

    .about-me h1::after {
        content: "";
        position: absolute;
        width: 122px;
        height: 2px;
        background-color: #a6928c;
        left: calc(50% - 61px);
        bottom: -8px;
    }

    @media (min-width: 768px) {
        .wr-multilink {
          font-size: 32px;  
          /* padding-bottom: 70%; */
        }

        .multilink {
            padding-bottom: 60%;
        }

        .multilink a {
            padding: 20px 0;
        }

        .multilink li {
            margin-bottom: 50px;
        }

        .multilink .insta {
            margin-bottom: 65px;
        }

        .about-me {
            max-width: 1040px;
        margin: 0 auto;
        display: flex;
         margin-top: 40px;   
        }

        .about-me img {
            width: 364px;
        }

        .free {
            max-width: 1040px;
            margin: 0 auto;
        }

        .free img {
            max-width: 320px;
            
        }

        .free__list li:not(:last-of-type) {
            margin-right: 30px;
        }

        .services {
            max-width: 1040px;
            margin: 0 auto;
        }

        .services img {
            max-width: 400px;
        }

        .services__list li:not(:last-of-type) {
            margin-right: 40px;
        }

        .services__list li {
            width: 50%;
            align-items: flex-end;
        }

        .services__list li:last-of-type {
            align-self: flex-end;
        }

        .about-me__info {
            margin-left: 56px;
        }

        .free__list, .services__list {
            display: flex;
        }
    }